<!DOCTYPE html>
<html>
<head>
    <title>GPOX ADMIN</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="main">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4 text-center">
            <img src="/images/403-err.png" width="256" alt="403"/>
        </div>
        <div class="col-sm-6 col-md-7 col-lg-8 text-center">
            <h2>
                Forbidden
            </h2>
            <h3>
                <% if (typeof error !== 'undefined') { %>
                <%= error.message %>
                <% } else { %>
                You don't have permission to see the page you're trying to reach.
                <% } %>
            </h3>
            <p class="help">
                Please
                <a href="/admin">Log in</a>
                again.
            </p>
        </div>
    </div>
</div>
</body>
</html>


