<!DOCTYPE html>
<html>
<head>
    <title>GPOX ADMIN</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<section class="container">
    <div class="main">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4 text-center">
                <img src="/images/500-err.png" width="256" alt="500"/>
            </div>
            <div class="col-sm-6 col-md-7 col-lg-8 text-center">
                <h2>
                    Internal Server Error
                </h2>
                <h3>
                    Something isn't right here.
                </h3>
                <% if (typeof error !== 'undefined') { %>
                <pre class="error"><code>
                        <%- error %>
                    </code></pre>
                <% } else { %>
                <p class="error">
                    A team of highly trained sea bass is working on this as we speak.<br/>
                    If the problem persists, please <a href="mailto://kos.mironchik@gmail.com.com">contact the system administrator</a> and
                    inform them of the time that the error occured, and anything you might have done that may have caused the error.
                </p>
            </div>
        </div>

        <% } %>
    </div>
</section>
</body>
</html>