<!DOCTYPE html>
<html>
<head>
    <title>GPOX ADMIN</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<header class="header navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/admin/profile">GPOX ADMIN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a target="_blank" href="/docs">API</a></li>
                <li><a href="/admin/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/logout">Sign out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</header>
<body class="container">
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Profile Info:</h1>
        <div class="table-responsive">
            <table class="table">
                <% Object.keys(user).forEach(function(key){ %>
                <% if (key !== 'profileUrl' && key !== 'photo') { %>
                <tr>
                    <td><%= key %></td>
                    <td><%= user[key] %></td>
                </tr>
                <% } %>
                <% }); %>
            </table>
        </div>
    </div>
</div>
</body>

<footer class="footer panel-footer navbar-fixed-bottom">
    <div class="container">
        <img class="foologo" src="" alt=""/>
    </div>
</footer>

</html>
