<!DOCTYPE html>
<html>
<head>
    <title>GPOX ADMIN</title>
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<header class="header navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="/admin/profile">GPOX ADMIN</a>
        </div>
    </div><!-- /.container-fluid -->
</header>
<body class="container">
<div class="row">
        <span class="btn btn-large btn-default text-center center-block" onclick="window.location = '/admin/auth';">FB AUTH</span>
</div>

</body>

<footer class="footer panel-footer navbar-fixed-bottom">
    <div class="container">
        <img class="foologo" src="" alt=""/>
    </div>
</footer>

</html>
