<!DOCTYPE html>
<html>
<head>
    <title>GPOX ADMIN</title>

    <link rel="stylesheet" href="/bower_components/ngToast/dist/ngToast.css">
    <link rel="stylesheet" href="/bower_components/angular/angular-csp.css">
    <link rel='stylesheet' href='/css/style.css'/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/ngToast/dist/ngToast.js"></script>
    <script src="/js/angularApp/app.js"></script>
    <script src="/js/angularApp/controller/UserCtrl.js"></script>
    <script src="/js/angularApp/service/UserHttpSrvc.js"></script>
    <script src="/js/angularApp/service/ToasterSrvc.js"></script>
</head>

<header class="header navbar-inverse navbar-fixed-top">

    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-href="/admin/profile">GPOX ADMIN</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a target="_blank" href="/docs">API</a></li>
                <li><a href="/admin/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/logout">Sign out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</header>
<body class="container" ng-app="AdminApp">
<div class="row" ng-controller="UserCtrl">
    <h1>List of users</h1>
    <div ng-cloak>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="user in users">
                <span>User id:  {{user.facebookId}}</span>
                <span>
                    <a class="btn btn-primary" data-toggle="collapse" href="#{{user.facebookId}}" aria-expanded="false"
                       aria-controls="{{user.facebookId}}">
                        Show details
                    </a>
                </span>
                <div id="{{user.facebookId}}" class="collapse row">
                    <div class="card-block col-xs-offset-1 col-xs-10">
                        <div  class="table-responsive">
                            <table class="table table-bordered">
                                <thead>

                                </thead>
                                <tbody>
                                <tr ng-repeat="(key, value) in user">
                                    <td class="bg-info"> {{key}}</td>
                                    <td class="over bg-info"> {{ value }}</td>
                                </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>

<footer class="footer panel-footer navbar-fixed-bottom">
    <div class="container">
        <img class="foologo" src="" alt=""/>
    </div>
</footer>
<script>
    function filterHouses () {
        var elements = document.querySelectorAll('#group-complexes .item');

    }
</script>
</html>
